.l_vetVerificationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.l_vetVerificationPage h2 {
  font-weight: 300;
  font-size: 36px;
}

.l_vetVerificationPage h5 {
  text-align: center;
}

.l_vetVerificationPage_pGreen {
  color: var(--color-main);
  margin: 21px 0 8px;
  font-size: 16px;
  text-align: center;
}

.l_vetVerificationPage form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 0 auto;
  width: 335px;
}
.l_vetVerificationPage label {
  margin: 16px 0 8px;
}

.l_vetVerificationPage input {
  font-style: italic;
}

.l_vetVerificationPage textarea {
outline-color: var(--color-main);
} 

.checkboxBox {
  display: flex;
  gap: 10px;
  font-size: 16px;
  margin: 20px 0 47px;
}

.btnBox {
  display: flex;
  gap: 8px;
}