.languageSwitcher {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .button {
    background-color:var(--color-main-light); 
    border: 2px solid transparent;
    border-radius: 50%; 
    width: 38px; 
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--color-main);
  }
  
  .flagIcon {
    width: 24px; 
    height: 17px;
  }
  
  .languageList {
    display: flex;
    flex-direction: column; 
    background-color:var(--color-text-white);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    /* margin-top: 10px;  */
    position: absolute;
  }
  
  .languageItem {
    background-color:var(--color-main-light);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .languageItem:hover {
    background-color: var(--color-main);
    transform: scale(1.1);
  }

