.l_verificationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 30px;
  height: 100vh;
}
.enterCode {
  font-size: 16px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.button {
  padding: 16px 78px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 60px;
  background-color: var(--color-main);
  border: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: white;
  margin: 67px 0;
}
.button:disabled {
  cursor: default;
  background-color: var(--color-main-light);
}