.l_verificationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 30px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
}
.enterCode {
  font-size: 16px;
  text-align: center;
}
.codeText {
  padding-bottom: 8px;
}
.codeText span {
  color: var(--color-main);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.inputBox {
  width: 100%;
}
.codeInputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 335px;
  border: 1px solid var(--color-input-bg-grey);
  padding: 16px;
  border-radius: 15px;
}
.codeInput {
  width: 16px;
  height: 26px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid var(--color-input-bg-grey);
}
.codeInput:focus {
  outline: none;
}
.requestCodeBox {
  width: 60%;
  padding-top: 6px;
}
