  .burgerMenu {
    position: relative; 
    z-index: 1; 
    width: 335px;
  }
  
  
  .burgerIcon {
    cursor: pointer; /* Курсор при наведении */
    display: flex;
    flex-direction: column; /* Вертикальное расположение точек */
    align-items: center; /* Центрируем точки */
    margin: 10px; /* Отступ для размещения в углу */
    position: absolute;
    right: 0;
  }
  
  .dot {
    width: 4px; /* Ширина точки */
    height: 4px; /* Высота точки */
    background-color: #000; /* Цвет точек */
    border-radius: 50%; /* Круглая форма */
    margin: 3px 0; /* Отступы между точками */
  }
  
  .modal {
    position: fixed; /* Фиксированное положение для модального окна */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex; /* Выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center;
    gap:90px;
   
  }
  
  .modalContent {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 200px;
 
  }
  
  .close {
    cursor: pointer; 
    font-size: 24px; 
    float: right;
  }

  .modalContent li{
    padding-top: 60px;
  }   
