@import '../../App.css';
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; /* Фиксирует футер */
  bottom: 0; /* Размещает футер внизу экрана */
  left: 50%; /* Выравнивает футер по центру */
  transform: translateX(-50%); /* Компенсирует смещение влево */
  margin: 0 auto;
  width: 100%; /* Задает ширину на весь экран */
  max-width: 375px; /* Ограничивает ширину футера */
  height: 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--color-main);
  padding-top: 20px;
  padding-bottom: 24px;
  z-index: 1000; /* Убедитесь, что футер находится поверх других элементов */
}

.footer_links {
  color: var(--color-text-white);
  font-weight: bold;
  padding-top: 10px;
}

.footerItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-white);
}

.footerIcon {
  margin-bottom: 3px;
}
