.accordionSection {
    max-width: 375px;
    background-color: white;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin: 8px auto;
    border-radius: 20px;
  }
  
  .accordionSectionClosed {
    border: 1px solid green;
  }
  
  .accordionSectionOpen {
    border: none;
  }
  
  .accordionTitle {
    width: 100%;
    color: var(--color-main);
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Разделяем элементы */
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 16px;
  }
  
  .accordionContent {
    max-height: 0; /* Начальная высота закрытого состояния */
    overflow: hidden; /* Скрываем содержимое, чтобы не было видно при закрытом состоянии */
    transition: max-height 0.8s ease; /* Плавный переход */
  }
  .accordionSectionOpen .accordionContent {
    max-height: 500px; /* Устанавливаем максимальную высоту для открытого состояния */
    /* Вы можете выбрать другую величину, но она должна быть больше максимальной высоты вашего контента */
}
  .inputWrapper {
    margin-bottom: 10px;
  }
  
  .inputLabel {
    display: block;
    margin-bottom: 12px;
    color: green;
    font-size: 14px;
  }
 
  .inputField {
    margin: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    
  }
  .accordionSection input {
    
    max-width: 330px;
    min-width: 330px;
    margin: 18px 40px;
 
  }
  
  .accordionSection input::placeholder{
    font-style: italic;
   
  }